.Rhistory
local
FIG3_v2.log
FIGnew.log
FIG1/FIG1.tex
FIG2/FIG2.tex
FIG3/FIG3.tex
FIG4/FIG4.tex
FIG4/FIM_screening.mat
FIG4/README.txt
FIG4/plot_FIM_screening_v2.R
FIGSM1/SPE10model2/spe_perm.dat
FIGSM1/plot_perm.m
FIGSM1/spe10data.mat
FIGSM2/plot_se_compare.R
FIGSM3/FIGSM3a.tex
FIGSM3/FIGSM3b.tex
FIGSM3/README.txt
FIGSM3/plot_experiment_sa_bounds3.R
